@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Fasilitas */
.facilities,
.rooms {
    padding: 80px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.facilities h2,
.rooms h2 {
    text-align: center;
    margin-bottom: 10px;
}

.facilities p {
    text-align: center;
    margin-bottom: 40px;
}

.facility-grid,
.room-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.facility-card,
.room-card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.room-card img {
    width: 100%;
    border-radius: 10px;
}

.room-card button {
    width: 100%;
    padding: 10px;
    background: green;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
}
